/* FUENTES */

@import url("https://p.typekit.net/p.css?s=1&k=ryc8beu&ht=tk&f=14032.14034.14036.21512&a=2153897&app=typekit&e=css");

  @font-face {
  font-family:"aktiv-grotesk";
  src:url("https://use.typekit.net/af/28158e/00000000000000003b9b4066/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/28158e/00000000000000003b9b4066/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/28158e/00000000000000003b9b4066/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-display:auto;font-style:normal;font-weight:400;
  }
  
  @font-face {
  font-family:"aktiv-grotesk";
  src:url("https://use.typekit.net/af/62681e/00000000000000003b9b406a/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/62681e/00000000000000003b9b406a/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/62681e/00000000000000003b9b406a/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
  font-display:auto;font-style:normal;font-weight:700;
  }
  
  @font-face {
  font-family:"aktiv-grotesk";
  src:url("https://use.typekit.net/af/76d40d/00000000000000003b9b4064/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/76d40d/00000000000000003b9b4064/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/76d40d/00000000000000003b9b4064/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
  font-display:auto;font-style:normal;font-weight:300;
  }
  
  @font-face {
  font-family:"aktiv-grotesk";
  src:url("https://use.typekit.net/af/cee6e5/00000000000000003b9b4062/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3") format("woff2"),url("https://use.typekit.net/af/cee6e5/00000000000000003b9b4062/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3") format("woff"),url("https://use.typekit.net/af/cee6e5/00000000000000003b9b4062/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3") format("opentype");
  font-display:auto;font-style:normal;font-weight:200;
  }
  
  .tk-aktiv-grotesk { font-family: "aktiv-grotesk",sans-serif; } 
   
  @import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600&family=Playfair+Display:ital@1&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600&family=Playfair+Display&display=swap');



/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw0aXpsog.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw9aXpsog.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw2aXpsog.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw3aXpsog.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw5aXo.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v28/nuFvD-vYSZviVYUb_rj3ij__anPXJzDwcbmjWBN2PKfFunDTbtPY_Q.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v28/nuFvD-vYSZviVYUb_rj3ij__anPXJzDwcbmjWBN2PKfFunDYbtPY_Q.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v28/nuFvD-vYSZviVYUb_rj3ij__anPXJzDwcbmjWBN2PKfFunDZbtPY_Q.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v28/nuFvD-vYSZviVYUb_rj3ij__anPXJzDwcbmjWBN2PKfFunDXbtM.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* FUENTES */
body{
    font-family: "aktiv-grotesk",sans-serif !important;
    font-weight:normal;
  }
/* VARIABLES */
:root{
    --rosa: #f8d3e6;
    --celeste: #c9f4f6;
    --lila: #c5b6f7;
    --amarillo: #ffee8a;
}
/* VARIABLES */

/* COLOR TEXT */
.celeste {
    color: var(--celeste);
}
.lila {
    color: var(--lila);
}
.amarillo {
    color: var(--amarillo);
}
.rosa {
    color: var(--rosa);
}
.blanco {
    color: white;
}
/* COLOR TEXT */
.bgC {
    background-color: var(--celeste);
}
.bgG {
    background-color: #231F20;
    color: white;
}
.bgW{
    background-color: white;
}
/* gradiente de 4 colores y animacion */
.bggrad4col {
    background: linear-gradient(299deg, #f8d3e6, #c9f4f6, #c5b6f7, #ffee8a);
    background-size: 800% 800%;
    -webkit-animation: grad4col 13s ease infinite;
    -moz-animation: grad4col 13s ease infinite;
    animation: grad4col 13s ease infinite;
}

@-webkit-keyframes grad4col {
    0%{background-position:0% 13%}
    50%{background-position:100% 88%}
    100%{background-position:0% 13%}
}
@-moz-keyframes grad4col {
    0%{background-position:0% 13%}
    50%{background-position:100% 88%}
    100%{background-position:0% 13%}
}
@keyframes grad4col {
    0%{background-position:0% 13%}
    50%{background-position:100% 88%}
    100%{background-position:0% 13%}
}
/* FIN gradiente de 4 colores y animacion */
/* estilo amarillo y blanco gradiente  */
.bggradY {
    background: linear-gradient(299deg, #ffffff, #ffee8a);
    background-size: 400% 400%;

    -webkit-animation: gradientAnim 13s ease infinite;
    -moz-animation: gradientAnim 13s ease infinite;
    animation: gradientAnim 13s ease infinite;
}

/* FIN estilo amarillo y blanco gradiente  */

/* estilo celeste y blanco gradiente  */
.bggradC {
    background: linear-gradient(299deg, #ffffff, #c9f4f6);
    background-size: 400% 400%;

    -webkit-animation: gradientAnim 13s ease infinite;
    -moz-animation: gradientAnim 13s ease infinite;
    animation: gradientAnim 13s ease infinite;
}
/* FIN estilo celeste y blanco gradiente  */

/* animacion gradiente */

@-webkit-keyframes gradientAnim {
    0%{background-position:0% 13%}
    50%{background-position:100% 88%}
    100%{background-position:0% 13%}
}
@-moz-keyframes gradientAnim {
    0%{background-position:0% 13%}
    50%{background-position:100% 88%}
    100%{background-position:0% 13%}
}
@keyframes gradientAnim {
    0%{background-position:0% 13%}
    50%{background-position:100% 88%}
    100%{background-position:0% 13%}
}
/* animacion gradiente */

*{
    font-size: 1rem;
    text-align: left;
}
h1{
    font-size: 4rem;
}
h2{
    font-size: 3rem;
}
h3{
    font-size: 2rem;
}




/* ESPACIADO */
body{
    margin:0 ;
    padding: 0;
    max-width: 100vw;
    overflow-x: hidden;
  }
section{
    padding-top: 10%;
    padding-bottom: 10%;
}
/* ESPACIADO */
/* FOOTER */
footer{
    background-color: black;
    color: white;
}
/* FOOTER */

/* UL */
ul{
    margin:0% !important;
    padding: 0% !important;
}
ul li{
    list-style: none;
    margin-top: 1em;
    margin-left:0% ;
}
/* UL */

/* estilo tags */
.tagContainer{
    margin-top: 5%;
    margin-bottom: 5%;
}
.tag{
    padding: 1rem 2rem;
    border: solid 3px black;
    border-radius: 50px;
    font-size: small;
}
.tag:hover{
    background-color: white;
    cursor: pointer;
}

.tag:active{
    background-color: white;
    cursor: pointer;
}
/* estilo btn ver ley */
.btnLey{
    padding: 1rem 2rem;
    border: solid 2px black;
    border-radius: 50px;
    background-color: #c5b6f7;
}
.btnLey:hover{
    cursor: pointer;
}

/* MENUIZACION */
.menu{
    background-color: #414042;
    width: 100%;
}
.menuItem{
 background-color: black;
 margin: 0%;
 margin-top: 2em;
 width: 100%;
 /* padding:5% 8%; */
}
  
/* MENUIZACION */


/* CARD */
.card{
    background-color: #414042;
    border-radius: 40px;
    height: 800px;
    margin-bottom: 5%;
    box-shadow: 2px 1px 19px 0px rgba(0,0,0,0.22);
    -webkit-box-shadow: 2px 1px 19px 0px rgba(0,0,0,0.22);
    -moz-box-shadow: 2px 1px 19px 0px rgba(0,0,0,0.22);
}
.cardContent{
    background-color: white;
    border-radius: 40px;
    margin-bottom: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
}
.cardTag{
    float: left;
    color: #6CBCBA;
}
.cardDate{
    float:right;
    color: #A7A9AC;
}
/* CARD */
.btnHoja{
    background-color: var(--celeste);
    padding: 1rem 5rem;
    border: solid 3px black;
    border-radius: 50px;
    font-size:x-small;
    font-weight: bold;
}

.autorIcon{
    background-color: #c5b6f7;
    color: white;
    font-weight: bold;
    border-radius: 50px;
    padding: 1em;
    margin: 1em;
}
blockquote{
    background-color: #231F20;
    color: white;
    font-size: 1.3em;
    width: 101%;
    margin-left: 0%;
    margin-top: 15% !important;
    margin-bottom: 15%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 10%;
    padding-right: 10%;
    margin-block-start: 0em !important;
    margin-block-end: 0em !important;
    margin-inline-start: -10% !important;
    margin-inline-end: 0px !important;

}
.ampliar{
    margin: 0.5em 0;
}
.ampliar:hover{
    cursor: pointer;
}
/* DEBUG */
/* *{
    background-color: white !important;
    border:solid 2px red !important;
    color: slategray !important;
} */
/* DEBUG */